.container {
display: flex;
flex-direction: column;
height: 100%;
border: 2px solid green;
max-width: 1440px;
min-width: 320px;
min-height: 600px;
justify-content: center;
margin:auto;
}
.container h2 {
   text-align: center;
}
.container .task {
flex-direction: column;
max-width: 1400px;
max-height: 100%;
background: rgb(138, 190, 190);
margin: 10px;
padding: 20px;
font-size: 20px;
text-align: justify;
color: rgb(36, 14, 77);
}
.task p {
color: rgb(5, 5, 5);
font-size: 20px;
justify-content: center;
padding-left: 30px;
padding-right: 30px; 
}

p.task_content {
 max-width: 600px;
 max-height: auto;
 font-size: 18px;
 white-space: pre-wrap;
 margin: auto;
 color: rgb(96, 96, 102);
 border: 2px solid white;
 background: rgb(221, 221, 214);
} 